.bio__link {
  color: lighten($foreground-color, 15%);
  border-bottom: 0.2rem solid $foreground-color;
}

.bio__banner__title {
  font-size: $xxl-size;
}

.bio__sub-banner__title {
  font-size: $m-size;
}

.bio__section {
  margin-top: 5rem;
}

.bio__section__title {
  font-size: $m-size;
}

.bio__section__title__highlight {
  color: lighten($foreground-color, 30%);
}

.bio__section__highlight {
  color: $color-pallete-yellow-dark;
}

.bio__section__row {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: lighten($foreground-color, 15%);
}
