.page-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.center-content {
    align-content: center;
    align-items: center;
    justify-content: center;
}

.max-width {
    // Limit content width
    max-width: 80rem;
    margin: 0 auto;
}

.top-margin {
    // Place under nav bar
    margin-top: 11rem;
}

.section-padding {
    padding: 3rem;
}

// Home-specific containers
.home-page-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    min-height: 100vh;
    max-height: 100vh;
}

.home-page-container__banner {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-content: center;
    align-items: center;
    justify-content: center;
}

.home-page-container__sub-banner {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-content: center;
    align-items: center;
    justify-content: center;

    background-color: $color-pallete-yellow;
}

// Bio-specific containers
.bio-page-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.bio-page-container__section-one {
    // flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-content: center;
    align-items: center;
    justify-content: center;
}

.bio-page-container__section-two {
    // flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-content: center;
    align-items: center;
    justify-content: center;

    background-color: $color-pallete-yellow;
}

.bio-page-container__section-three {
    // flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-content: center;
    align-items: center;
    justify-content: center;

    background-color: $color-pallete-grey;
}

.bio-page-container__section-four {
    // flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-content: center;
    align-items: center;
    justify-content: center;

    background-color: $color-pallete-yellow-light;
}
