.page-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    // Center content
    max-width: 80rem;
    margin: 0 auto;

    // Initially place
    margin-top: 11rem;
}

.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

// Home-specific containers
.home-page-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    min-height: 100vh;
    max-height: 100vh;
}

.home-page-container__banner {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-content: center;
    align-items: center;
    justify-content: center;
}

.home-page-container__sub-banner {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-content: center;
    align-items: center;
    justify-content: center;

    background-color: $foreground-color-yellow;
}
