.banner {
  justify-content: center;
  align-content: center;
}

.banner__title {
  margin-top: 2rem;
  font-size: $xxxl-size;
}

.banner__title__name {
  color: lighten($foreground-color, 30%);
}

.banner__subtitle {
  font-size: $m-size;
  margin-top: 2rem;
}

// Code changer
.code-language-changer {
  color: $color-pallete-yellow;
}

.code-language-changer:after {
  content:"Javascript";
  animation: code-language-changer 12s linear infinite;
}
@keyframes code-language-changer {
  0%  { content:"Javascript"; }
  20% { content:"Python"; color: $color-pallete-red; }
  40% { content:"C";  }
  60% { content:"SQL"; color: $color-pallete-green; }
  80% { content:"BASH"; }
}

.sub-banner__title_one {
  font-size: $l-size;
  color: $background-color;
}

.sub-banner__title_two {
  margin-top: 1.5rem;
  font-size: $l-size;
  color: $background-color;
}

.sub-banner__title__highlight {
  color: darken($background-color, 30%);
}

.home-page-container .fadein-banner {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

.home-page-container .fadein-subbanner {
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  -webkit-animation: fadein 4s;
  -o-animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
