.banner__title {
  font-size: $xxxl-size;
}

.banner__subtitle {
  font-size: $l-size;
  margin-top: 2rem;
}

.banner__highlight {
  color: lighten($foreground-color, 30%);
}

.banner__strikethrough {
  text-decoration: line-through;
}

.banner__code-changer {
  margin-left: 2rem !important;
}

.banner__code-changer-static {
  padding-right: 0 !important;
}

.python {
  color: $color-pallete-green;
}

.js {
  color: $color-pallete-yellow;
}

.sql {
  color: $color-pallete-purple;
}

.c {
  color: $color-pallete-blue;
}

.spark {
  color: $color-pallete-orange;
}

.react {
  color: $color-pallete-light-blue;
}

.node {
  color: $color-pallete-light-green;
}


.sub-banner {
  margin-top: 10rem;
}

.sub-banner__title {
  font-size: $l-size;
}

.sub-banner__subtitle {
  margin-top: 2rem;
  font-size: $l-size;
}

.sub-banner__highlight {
  color: lighten($foreground-color, 30%);
}

.fadein-banner {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

.fadein-subbanner {
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  -webkit-animation: fadein 4s;
  -o-animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
