// Colors
$background-color: #272727;
$foreground-color: #747474;

$color-pallete-white: #e8f7ee;
$color-pallete-grey: #8e9691;
$color-pallete-yellow: #ffeb45;
$color-pallete-yellow-dark: #ccb735;
$color-pallete-red: #e56f40;
$color-pallete-green: #c5d86d;
$color-pallete-blue: #034078;
$color-pallete-purple: #674ae6;

// Color short-list
// #e8f7ee honey due (white)
// #f5f0e7 alabaster (white)
// #fff5aa navajo white
// #d36135 medium vermilion
// #ff652f portland orange
// #f18f01 tangerine
// #fabc3c maximum yellow red
// #ffe400 vivid yellow (default)
// #fff587 yellow crayola
// #e8df7b flax (yellow)
// #16db65 malachite
// #1b998b jungle green
// #17ad6b crayola green
// #8fd694 light green
// #7ed684 pastel green
// #c5d86d june bud (green)
// #034078 dark cerulean (blue)


// Sizes
$xxxl-size: 5.4rem;
$xxl-size: 4.2rem;
$xl-size: 3.8rem;
$l-size: 2.8rem;
$m-size: 2.4rem;
$s-size: 1.8rem;
$xs-size: 1.4rem;
