// Colors
$background-color: #272727;
$foreground-color: #747474;
$foreground-color-yellow: #ffe400;
$foreground-color-red: #ff652f;
$foreground-color-green: #14a76c;
$foreground-color-purple: #674ae6;

// Sizes
$xl-size: 4.2rem;
$l-size: 3.6rem;
$m-size: 2.4rem;
$s-size: 1.8rem;
